---
sitemap: false
---
/*
variable declaration
*/

/* branding */
$logo: url("{{ '/assets/mji_invert_logo.png' | absolute_url }}");

/* text */

$body-font:       'Roboto Slab', serif;
$heading-font:    'Exo', sans-serif;


/* Image Size */

$thumbnail-height: 140px;
$thumbnail-width: 140px;

/* colors */

$text-color:      #100c01;
$bg-color:        #FFF5E0;
$bg-color-2:        #fff;
$neutral:         #eae7de;
$accent-light:    #FF6969;
$accent-dark:     #C70039;

/* viewport sizes */

$max-width:       1100px;

/* margins */

$less-margin:     1.0rem;
$margin:          1.5rem;
$more-margin:     2.0rem;
$super-margin:    3.0rem;


$viewer-height:   550px;
$parallax-height: 350px;
$footer-height:   250px;

/*
font & asset import
*/

@import 'wax';
@import url('https://fonts.googleapis.com/css2?family=BioRhyme&family=Exo:wght@700&family=Roboto+Slab:wght@300&display=swap');
