<!DOCTYPE html>
<html lang='en-us'>
  {% include head.html %}

  <body>
    {% include header.html %}

    

    <div id='wax-main'>
      <div id='wax-content' class='wax-inline-container'>
        {% if page.banner %}
          {% assign b = page.banner %}
          {% include inline_image.html collection=b.collection pid=b.pid %}
        {% endif %}
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
    <script type='text/javascript' async defer src='{{ "/assets/bootstrap/bootstrap.min.js" | absolute_url }}'></script>
    <script type='text/javascript' async defer src='{{ "/assets/popper.min.js" | absolute_url }}'></script>
  </body>
</html>


