---
layout: generic_collection_item
image_viewer: 'simple'
pagination: true
meta:
  - label: 'URL'
    value: page.link
    type:  link
  - label: 'Primary subject'
    value: page.primary_subject
  - label: 'Secondary subject(s)'
    value: page.secondary_subjects
  - label: 'Description'
    value: page.desription
  - label: 'Online Access'
    value: page.online_access
  - label: 'Physical Location'
    value: page.physical_loc
  - label: 'Primary Language'
    value: page.primary_lang
  - label: 'Additional URL'
    value: page.link_2
    type:  link
  - label: 'Last Checked'
    value: page.last_check
---

